#root {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif, Arial, Helvetica;
}

.search_container_wrapper {
  max-width: 60%;
  margin: 0 auto;
  padding-top: 20px;
  text-align: center;
}

.search_box {
  width: 70%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  outline: none;
}

.search_box:focus {
  border: 1px solid hsl(320, 68%, 49%);
}

.matched_country {
  font-size: 16px;
  color: rgb(58, 56, 56);
  line-height: 1.5;
  padding: 10px;
  cursor: pointer;
  background-color: #a5cced;
  border-bottom: 1px solid #ddd;
  word-spacing: 0.1rem;
}

.matched_country:hover {
  background-color: #5fadec;
}

.show_search_values {
  width: 70%;
  margin: 20px auto;
  text-align: center;
}

.search_container {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  max-width: 70%;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.set_search_box_container {
  position: relative;
}
.clear_icon {
  margin-left: -2rem;
  position: absolute;
  margin-top: 0.7rem;
  border: none;
  background-color: transparent;
  font-size: 16px;
  padding: 1px 6px;
  cursor: pointer;
  color: rgb(199, 26, 83);
}
.clear_icon:hover {
  background-color: rgb(247, 205, 211);
  border-radius: 4px;
}

.user_card {
  width: 30%;
  margin: 2rem auto;
  text-align: center;
  background: radial-gradient(
    circle,
    rgb(237, 140, 182) 0%,
    rgba(187, 156, 224, 1) 63%,
    rgba(165, 148, 233, 1) 100%
  );
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

  /* Added 6px border bottom with a darker color */
  border-bottom: 6px solid rgba(83, 75, 117, 1);
}

h3:first-child {
  padding-top: 16px;
}

.btn_container {
  display: flex;
  width: 30%;
  justify-content: space-evenly;
  align-items: center;
  margin-inline: auto;
}

.btn {
  padding: 16px 44px;
  cursor: pointer;
  font-weight: bold;
  background: rgb(145, 23, 145);
  font-size: 18px;
  border: none;
  color: white;
  border-radius: 8px;
}

.btn:disabled {
  background: grey;
  color: black;
  cursor: not-allowed;
}
